html {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px

  }
  
body {
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    font-family: "Poppins", 'Helvetica Neue', Helvetica;

}

header {
    margin: 0;
}

span {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;

}
.recipe_info {
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.apple {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
  }
  
  #image_header {
    position: relative;
    width: 1024px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  #text_image {
    position: absolute;
    font-size: 100px;
    left: 250px;
    top: 135px;
    color: aliceblue;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  ul {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
   
  }
  ol {
    width: 850px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  h3{
    margin: 0 auto;
    width: 850px;
  }